{% extends 'admin.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1 class="h1 text-center my-3">Комментарии</h1>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th style="text-align: center">почта</th>
            <th>продукт</th>
            <th style="text-align: center">рейтинг</th>
            <th>комментарий</th>
            <th>статус</th>
            <th>действие</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td style="text-align: center">{{ comment.user.email }}</td>
                <td>{{ comment.product.title }}</td>
                <td style="text-align: center">{{ comment.rating }}</td>
                <td>{{ comment.body }}</td>
                <td>{% if comment.isAccepted == true%}Подтвержден{% else %} Ожидает подтверждения {% endif %}</td>
                <td>
                    {% if comment.isAccepted == not true%}
                        <a href="{{ path('comment_accept', {'id': comment.id}) }}">Утвердить</a>
                    {% endif %}
                    <a href="{{ path('comment_delete', {'id': comment.id}) }}">Удалить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
